DB_DRIVER=postgres
DB_SOURCE=postgresql://postgres:password@postgres:5432/privacy_social?sslmode=disable
SERVER_ADDRESS=0.0.0.0:8080
REDIS_ADDRESS=redis:6379
JWT_SECRET=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
R2_BUCKET_NAME=your_r2_bucket_name

# Expo Redirect URL (Development: exp://<YOUR_IP>:8081/--/google-auth)
EXPO_REDIRECT_URL=exp://127.0.0.1:8081/--/google-auth

# Email / Reset Password
SENDGRID_API_KEY=your_sendgrid_api_key
FROM_EMAIL=no-reply@locolive.io
FRONTEND_URL=http://localhost:5173
